coc/
configstore/
exercism/user.json
gcloud/
gh-copilot/
gh/hosts.yml
github-copilot/
herdr/herdr*
herdr/release-notes.json
herdr/session.json
iterm2/
jgit/
lvim/
opencode/
redgate/
simple-update-notifier/
